/** Messages **/
.profile-pic {
  display: flex;
  align-items: center;
}

.contacts-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  background-color: white;
  border-radius: 0.3rem;
}

.activites-panel {
  border-top: 1px solid white;
  max-height: calc(100vh - 30rem);
  overflow-y: scroll;
}

.responses {
  font-size: 1.3rem;
  color: #a1a1a1;
}

.sc-launcher {
  display: none;
}
.info-panel {
  display: flex;
  align-items: center;
  color: $main-text-color;
  padding: 2.5rem 1.5rem;
  cursor: pointer;
  .icon-message {
    margin-right: 2rem;
    margin-top: -1.5rem;
  }
  .info-inner {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 1.5rem;
  }
}
.timestamp {
  display: block;
  text-align: right;
}

.filter-left-panel {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 30rem;
  .select-all {
    .v-input__control {
      max-width: 10rem;
    }
  }
  .select-recent {
    .v-input__control {
      max-width: 17rem;
    }
  }
}
.select-all,
.select-recent {
  .v-input__control {
    .v-input__slot {
      color: white;
      background-color: $secondary-bg-color!important;
      .v-select__slot .v-select__selections {
        color: white;
        min-height: 10px;
      }
      .v-select__slot .v-label {
        color: white;
      }
    }
  }
}
