.sidebar-panel {
  width: 25rem;
  height: 100%;
  position: fixed;
  left: 0;
  background-color: $secondary-bg-color;
  padding-left: 3rem;
  .nav-item-panel {
    margin: 2.5rem 0;
  }
  .nav-item-parent {
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding-left: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    &:hover {
      background-color: $main-bg-color;
      border-top-left-radius: 3.5rem;
      border-bottom-left-radius: 3.5rem;
      .nav-item {
        color: $secondary-text-color;
        font-weight: 600;
        .v-icon {
          color: $secondary-text-color;
        }
      }
    }
  }
  .router-link-exact-active {
    background-color: $main-bg-color;
    border-top-left-radius: 3.5rem;
    border-bottom-left-radius: 3.5rem;
    .nav-item {
      color: $secondary-text-color;
      font-weight: 600;
      .v-icon {
        color: $secondary-text-color;
      }
    }
  }
  .nav-item-panel:nth-last-child(2) {
    margin-top: 25rem;
    @media (max-height: 990px) {
      margin-top: 20rem;
    }
    .nav-item-parent {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: -3rem;
        height: 1px;
        width: 70%;
        background-color: white;
      }
    }
  }
  .nav-item {
    padding: 1.7rem 1.7rem 1.7rem 0.5rem;
  }
  .v-icon {
    margin-right: 1.2rem;
  }
  .logo-panel {
    padding-left: 2rem;
    margin-top: 2.5rem;
    .logo {
      max-width: 100%;
      width: auto;
    }
  }
}